@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-user-drag: none; /* Safari */
  user-drag: none;
  user-select: none;
}

#title {
  color: white;
  text-decoration: none;
}

code {
  user-select: text;
}
